@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap");

/* Geraral Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #FFFFF0;
}

/* Menu Styles */

.menu-lateral {
  background: rgb(214, 108, 53);
  background: linear-gradient(
    0deg,
    rgba(214, 108, 53, 1) 0%,
    rgba(220, 150, 54, 1) 100%
  );
  color: #fff;
  width: 15vw;
  height: 100vh;
  position: fixed;
  padding-top: 20px;
  top: 13vh;
  z-index: 1;
  overflow: hidden;
  transition: width 0.3s ease;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.accordion-menu li.open .dropdownlink {
  color: #ca3236;
}

.bi-book {
  transform: rotate(180deg);
}

.accordion-menu li:last-child .dropdownlink {
  border-bottom: 0;
}
.dropdownlink {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 45px;
  font-size: 18px;
  color: #212121;
  position: relative;
  transition: all 0.4s ease-out;
  font-weight: 600;
}

.dropdownlink:hover {
  transform: scale(1.09);
  transition: 0.3s;
}

.dropdownlink2 {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 45px;
  font-size: 18px;
  color: #212121;
  position: relative;
  transition: all 0.4s ease-out;
  font-weight: 600;
}

.dropdownlink2 a {
  text-decoration: none;
  color: #212121;
}

.dropdownlink2:hover {
  transform: scale(1.09);
  transition: 0.3s;
}
.fa-chevron-down {
  right: 12px;
  left: auto;
}

.submenuItems {
  display: none;
  background: #db9236;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
li {
  list-style-type: none;
  font-family: "Outfit", sans-serif;
}
.submenuItems a {
  display: block;
  color: #fff;
  padding: 12px 12px 12px 45px;
  transition: all 0.4s ease-out;
}

.submenuItems a:hover {
  background-color: #ca3236;
  transition: all 0.4s ease-out;
  border-radius: 50px;
}
ul {
  list-style: none;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.dot{
  width: 25px;
  margin-left: 8px;
  opacity: 0.8;
}

/* Header Styles */

header {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(213, 136, 47, 1) 0%
  );
  box-shadow: rgba(0, 0, 0, 0.2) 0px 25px 20px 0px;
  height: 13vh;
  width: 100vw;
  position: relative;
  z-index: 2;
}

#header-section {
  display: flex;
  justify-content: space-between;
}

.calls {
  background: #3f290f;
}

/* Logo Styles */

.img-logo {
  margin-top: 1.5em;
  margin-left: 1em;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.img-logo:hover {
  transform: scale(1.05);
}

.img-logo:active {
  transform: scale(0.09);
}
.container {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  text-align: right;
  margin-top: 2em;
  margin-right: 1em;
}

.data {
  color: #3f290f;
}

.saudacao {
  color: #f0f8ff;
}

.logout {
  margin-bottom: 60%;
  padding: 15px 15px 15px 45px;
  font-size: 22px;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  color: #ca3236;
}

.logout p {
  cursor: pointer;
  transition: 0.3s;
}
.logout p:hover {
  transform: scale(1.09);
  transition: 0.3s;
}

/* Style Chamados */

.tabela-container {
  border: 2px solid rgba(0, 0, 0, 0.404);
  padding: 10px;
  margin-top: 6em;
  margin-left: 20%;
  margin-bottom: 20px;
  display: inline-block;
  background-color: #fff;
}

.filtro-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2em;
}

.tabela {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  width: 120px;
}

th {
  background-color: #db9236;
  font-weight: bold;
  font-family: "Sora", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

tr {
  transition: 0.3s;
  font-family: "Sora", sans-serif;
}

tr:hover {
  background-color: #f5f5f5;
  transition: 0.3s;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #c0bcbc71;
}

.number {
  font-weight: bolder;
  cursor: pointer;
}

.urg {
  color: #ca3236;
  font-weight: bold;
}

.alta {
  color: #ff0000;
}
.media {
  color: #ffff00;
}
.baixa {
  color: #008000;
}
i {
  padding: 0 5%;
}

.bi-arrow-up-circle-fill {
  color: #ad0303;
}

.bi-x-circle-fill {
  color: #ad5707;
}

.bi-arrow-right-circle-fill {
  color: #008000;
}

.filtro-container {
  font-family: "Roboto Flex", sans-serif;
}

.filtro-container label {
  font-family: "Varela Round", sans-serif;
  padding: 10px 20px;
}

.filtro-container select {
  border-radius: 20px;
  transition: 0.5s;
  cursor: pointer;
}

.filtro-container select:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.filtro-container option {
  font-family: "Roboto Flex", sans-serif;
  text-align: center;
}

.bi-filter-circle-fill {
  color: rgb(106, 106, 209);
  cursor: pointer;
  padding: 0;
  margin-left: 2em;
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bi-arrow-left-square-fill,
.bi-arrow-right-square-fill {
  margin: 0px 20px;
  padding: 0;
  padding-top: 10px;
  color: #1e7204;
  cursor: pointer;
  font-size: 20px;
}

.numeracao {
  font-family: "Sora", sans-serif;
  margin-top: 10px;
}
.animated-select {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.animated-select.active {
  max-height: 1000px;
}

/* .is-orange{
  background: rgb(214, 108, 53);
  background: linear-gradient(
    0deg,
    rgba(214, 108, 53, 1) 0%,
    rgba(220, 150, 54, 1) 100%
  );
}

.is-dark{
  color: #fff;
  background-color: #1d1a1a;
} */

